<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{~/dist/styles.css}" />
    <script th:src="@{~/dist/main.js}"></script>
  </head>
  <body class="bg-gray-200 flex-col flex">
    <h1 th:text="${title}">Home Page</h1>
  </body>
</html>
